
.navbar {
    background-color: #121212 !important;
    border-bottom: 1px solid #00ff00 !important;
}

.navbar a {
    color: #00ff00 !important;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ff0000 !important; 
}

.navbar-toggler {
    border-color: #00ff00 !important;
}

.navbar-toggler-icon {
    background-color: #00ff00 !important; 
}