body {
    background: radial-gradient(circle, #0f0f0f, #050505); 
    font-family: 'Courier New', Courier, monospace; 
    color: #00ff00 !important; 
    padding: 0;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

.container {
    width: 100vw;
    max-width: 1200px; 
    margin: 0 auto;
    padding-bottom: 20px; 
}

.portfolio-section {
    width: 100%;
    padding: 20px 0;
}

#projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    background-color: #121212 !important;
    border: 1px solid #00ff00 !important;
    box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.5); 
    padding: 20px;
    width: 300px;
    margin: 0;
}

.card-title {
    color: #00ff00 !important;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover; 
    border-bottom: 1px solid #00ff00;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5); 
    margin-bottom: 15px; 
}

.btn-primary {
    background-color: transparent !important;
    border: 2px solid #00ff00 !important;
    color: #00ff00 !important;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #00ff00 !important;
    color: #000 !important;
}

h1 {
    text-align: center;
    color: #00ff00;
    margin-bottom: 40px;
    text-shadow: 0px 0px 10px #00ff00;
}
